body {
    width: 100vw;
    height: 100vh;

    display: flex;
}

/// スマホ, タブレット用
@media only screen and (max-width: 992px) {
    header {
        width: 0vw;
    }

    main {
        width: 100vw;
    }
}

/// PC用
@media only screen and (min-width: 992px) {
    header {
        width: 25vw;
    }

    main {
        width: 75vw;
    }
}

header {
    display: flex;
    align-items: center;
    //align-items: stretch;
    justify-items: center;

    background: #90caf9;

    #index.collection {
        border: none;

        a {
            color: rgba(0, 0, 0, 0.87);
            opacity: 0.8;

            @keyframes focus_index {
                to {
                    font-weight: bolder;
                    opacity: 1.0;
                }
            }

            &:hover {
                animation: focus_index 0.3s ease 0s forwards;
            }
        }

        .secondary-content {
            color: black;
        }

        > * {
            border: none;
            background: inherit;
        }
    }

    //> img#face {
    //    flex-shrink: 1;
    //    width: 100%;
    //}
    //
    //> #name {
    //
    //}
}

main {
    overflow-y: scroll;

    #profile {

        &.card {
            border-right: #90caf9 solid 10vw;
        }

        /// スマホ, タブレット用
        @media only screen and (max-width: 992px) {
            &.card {
                border-right: none;
            }
        }

        .card-content {
            display: flex;
            flex-direction: column;

            .profile {
                display: flex;
                justify-items: center;

                #face {
                    width: 100px;
                    object-fit: scale-down;

                    margin: 20px;
                }

                #name {
                    flex-shrink: 1;

                    .alphabet {
                        color: #039be5;
                    }
                }
            }

            /// スマホ, タブレット用
            @media only screen and (max-width: 992px) {
                .profile {
                    flex-direction: column;

                    #face {
                        width: 88%;
                    }
                }
            }

            #affiliations.collection {
                .collection-item:before {
                    color: #9e9e9e;
                    content: '- ';
                }

                a[href] {
                    color: rgba(0, 0, 0, 0.87);
                    font-weight: 500;
                    opacity: 0.8;
                    //text-decoration: underline;

                    @keyframes focus {
                        100% {
                            color: #039be5;
                            opacity: 1.0;
                        }
                    }

                    &:hover {
                        animation: focus 0.3s ease 0s forwards;
                    }
                }
            }

            .links {
                padding-left: 30px;

                a {
                    font-size: 18px;
                    color: #039be5;
                    //
                    //i.material-icons {
                    //    font-size: 22px;
                    //    line-height: 1;
                    //}
                }

                //:not(*:first-child) {
                //    margin-left: 5px;
                //}
            }

            /// スマホ用
            @media only screen and (max-width: 600px) {
                .links {
                    padding-left: 0px;
                }
            }
        }
    }

    #affiliations.collection, #interests.collection, #awards.collection, #job-history.collection {
        border: none;

        > * {
            border: none;
            background-color: inherit;
        }
    }

    #products, #works, #papers {
        .card {
            .card-content {
                > * {
                    margin-bottom: 10px;
                }

                .tags > .chip {
                    height: auto;
                    background-color: inherit;

                    padding: 0;
                    margin:0;

                    &:not(:first-child)::before {
                        content: ' / ';
                    }
                }

                .awards > .award {
                    display: flex;

                    > *:not(:first-child) {
                        margin-left: 3px;
                    }
                }
            }
        }
    }

    #papers {
        .card {
            .card-content {
                > .description {
                    margin-top: 30px;

                    &::before {
                        content: "Abstruct";
                        font-weight: 900;
                        font-size: 140%;
                    }
                }
            }
        }
    }
}