body {
    width: 100vw;
    height: 100vh;

    display: flex;
}

/// スマホ, タブレット用
@media only screen and (max-width: 992px) {
    header {
        width: 0vw;
    }

    main {
        width: 100vw;
    }
}

/// PC用
@media only screen and (min-width: 992px) {
    header {
        width: 25vw;
    }

    main {
        width: 75vw;
    }
}

header {
    display: flex;
    align-items: center;
    //align-items: stretch;
    justify-items: center;

    background: #90caf9;

    #index.collection {
        border: none;

        a {
            color: rgba(0, 0, 0, 0.87);
            opacity: 0.8;

            @keyframes focus_index {
                to {
                    font-weight: bolder;
                    opacity: 1.0;
                }
            }

            &:hover {
                animation: focus_index 0.3s ease 0s forwards;
            }
        }

        .secondary-content {
            color: black;
        }

        > * {
            border: none;
            background: inherit;
        }
    }

    //> img#face {
    //    flex-shrink: 1;
    //    width: 100%;
    //}
    //
    //> #name {
    //
    //}
}

main {
    overflow-y: scroll;

    #profile {
        max-width: 620px;

        .card-stacked {
            display: flex;
            flex-direction: row;

            .left {
                flex: 90%;

                > .card-action {
                    padding-bottom: 0;

                    a {
                        color: #039be5;;
                    }
                }
            }

            .right {
                flex: 10%;
                
                background-color: #90caf9;
                display: flex;
                justify-content: center;

                i.fab {
                    &.fa-github, &.fa-twitter {
                        margin: 0;
                        font-size: 36px;
                    }
                }
            }
        }
        // &.card {
        //     border-right: #90caf9 solid 10vw;
        // }



        /// スマホ, タブレット用
        @media only screen and (max-width: 992px) {
            &.card {
                border-right: none;
            }
        }

        .card-content {
            display: flex;
            flex-direction: column;

            .profile {
                display: flex;
                justify-items: center;

                #face {
                    // width: 100px;
                    height: 110px;
                    object-fit: scale-down;

                    margin: 20px;
                }

                #name {
                    flex-shrink: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    > h4 {
                        margin-top: 0rem;
                        margin-bottom: 0.456rem;
                    }

                    .alphabet {
                        color: #039be5;
                        font-size: 1.64rem;
                    }
                }
            }

            /// スマホ, タブレット用
            @media only screen and (max-width: 992px) {
                .profile {
                    flex-direction: column;

                    #face {
                        width: 88%;
                    }
                }
            }

            #affiliations.collection {
                .collection-item {
                    padding-bottom: 5px;

                    &:before {
                        color: #039be5;
                        font-weight: 900;
                        content: '- ';
                    }
                }

                a[href] {
                    color: rgba(0, 0, 0, 0.87);
                    font-weight: 500;
                    opacity: 0.8;
                    //text-decoration: underline;

                    @keyframes focus {
                        100% {
                            color: #039be5;
                            opacity: 1.0;
                        }
                    }

                    &:hover {
                        animation: focus 0.3s ease 0s forwards;
                    }
                }
            }

            ul.links.collection {
                background: none;
                border: none;

                li.collection-item {
                    background: none;
                    border: none;

                    padding-left: 0;
                    padding-right: 0;
                }

                i {
                    margin-right: 10px;
                    color: white;
                }

                a {
                    font-size: 18px;
                    color: white;
                }

                //:not(*:first-child) {
                //    margin-left: 5px;
                //}
            }

            /// スマホ用
            @media only screen and (max-width: 600px) {
                .links {
                    padding-left: 0px;
                }
            }
        }
    }

    #affiliations.collection, #interests.collection, #awards.collection, #history.collection {
        border: none;

        > * {
            border: none;
            background-color: inherit;
        }
    }

    #products, #works, #papers {
        ul.collapsible li {
            .collapsible-header {
                flex-direction: column;

                .title {
                    font-size: 130%;
                    font-weight: 600;

                    margin-bottom: 5px;
                }

                .authors {
                    display: flex;

                    > .author {
                        &.me {
                            font-weight: 800;
                        }

                        &:not(:first-child)::before {
                            content: '，';
                        }
                    }

                    @media only screen and (max-width: 992px) {
                        justify-content: space-between;

                        > .author {    
                            &:not(:first-child)::before {
                                content: '';
                            }
                        }
                    }
            }

                .tags > .chip {
                    height: auto;
                    background-color: inherit;

                    padding: 0;

                    // &:not(:first-child)::before {
                    //     content: '/';
                    // }

                    &.pages {
                        &::after {
                            content: 'pages';
                        }
                    }

                    &.rate {
                        font-weight: 900;
        
                        &::before {
                            content: '採択率';
                        }
        
                        &::after {
                            content: '%';
                        }
                    }
                }
            }

            .collapsible-body {
                @media only screen and (max-width: 992px) {
                    padding: 0.5rem;
                }

                > .abstruct {
                    // &::before {
                    //     content: "Abstruct";
                    //     font-weight: 900;
                    //     font-size: 140%;
                    // }
                }

                > .citation {
                    .title {
                        font-weight: 600;
                        font-size: 120%;
                    }

                    > :not(.title) {
                        margin-left: 20px;
                    }

                    .citation-item {
                        padding: 5px;
                        background-color: rgba($color: #9e9e9e, $alpha: 0.2);
                    }

                    pre.citation-item {
                        white-space: pre-wrap;
                    }

                    .warning {
                        > i.material-icons.left {
                            padding-left: 20px;
                        }
                    }
                    // &::before {
                    //     content: "Citation";
                    //     font-weight: 900;
                    //     font-size: 140%;
                    // }
                }
            }
        }
        .card {
            .card-content {
                > * {
                    margin-bottom: 10px;
                }

                .tags > .chip {
                    height: auto;
                    background-color: inherit;

                    padding: 0 5px;
                    margin: 0;

                    &:not(:last-child)::after {
                        content: ', ';
                    }
                }

                .awards > .award {
                    display: flex;

                    > *:not(:first-child) {
                        margin-left: 3px;
                    }
                }
            }
        }
    }

    #papers {
        .card {
            .card-content {
                > .description {
                    margin-top: 30px;

                    &::before {
                        content: "Abstruct";
                        font-weight: 900;
                        font-size: 140%;
                    }
                }
            }
        }
    }
}