doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width')
  block title
    title K.Yokoyama - Portfolio
  // font
  link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic')
  // normalize
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css')
  // materialize css
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
  // material icons
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  // fontawesome
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css', integrity='sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=', crossorigin='anonymous')
  // original css
  link(rel='stylesheet', href='/css/base.css')
  link(rel='stylesheet', href='/css/index.css')
  block additional-css
  // original javascript
  script(src='/js/base.js')
  // SNS
  meta(property='description', content='Kaisei YOKOYAMA Portfolio')
  meta(property='og:type', content='website')
  meta(property='og:title', content='Portfolio of Kaisei YOKOYAMA. Introduce my interests, products, and skills. ')
  meta(property='og:description', content='Kaisei YOKOYAMA Portfolio')
  meta(property='og:image', content='https://kaiseiyokoyama.github.io/images/face.jpg')
  meta(property='og:image:alt', content='顔')
  meta(property='og:url', content='https://kaiseiyokoyama.github.io/')
  meta(property='og:site_name', content='Kaisei YOKOYAMA Portfolio')
  // twitter card
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@KaiseiYokoyama')
header.z-depth-1-half
  .container
    ul#index.collection
      li.collection-item.avatar
        a(href='/')
          img.circle(src='/images/face.jpg')
          span.title 横山 海青
          p Kaisei YOKOYAMA
      li.collection-item
        a(href='#profile')
          | プロフィール
          i.material-icons.secondary-content account_box
      li.collection-item
        a(href='#interests-header')
          | 興味
          i.material-icons.secondary-content domain
      li.collection-item
        a(href='#products-header')
          | プロダクト
          i.material-icons.secondary-content widgets
      li.collection-item
        a(href='#works-header')
          | 研究
          i.material-icons.secondary-content school
      li.collection-item
        a(href='#publications-header')
          | 出版物
          i.material-icons.secondary-content description
      li.collection-item
        a(href='#patents-header')
          | 特許
          i.material-icons.secondary-content inventory
      li.collection-item
        a(href='#awards-header')
          | 表彰
          i.material-icons.secondary-content emoji_events
      li.collection-item
        a(href='#scholarship-header')
          | 奨学金等
          i.material-icons.secondary-content wallet
      li.collection-item
        a(href='#history-header')
          | 経歴
          i.material-icons.secondary-content history_edu
main
  .container
    block container