extends preludes/_base.pug
block container
  #profile.card.horizontal
    .card-stacked
      .card-content.left
        .profile
          img#face.materialboxed(src='images/face.jpg', alt='顔')
          #name
            h4
              .kanji 横山 海青
              .alphabet Kaisei YOKOYAMA
            .email kyokoyama (at) iplab.cs.tsukuba.ac.jp
        ul#affiliations.collection.with-header
          li.collection-item
            a(href='https://www.cs.tsukuba.ac.jp/') 筑波大学 大学院 情報理工学位プログラム M1
          li.collection-item
            a(href='https://www.iplab.cs.tsukuba.ac.jp/') 筑波大学 IPLAB WAVEチーム
          li.collection-item
            a(href='https://www.amusement-creators.info/') Amusement Creators 所属
        .card-action.hide-on-med-and-up
          a(href='https://github.com/KaiseiYokoyama') Github
          a(href='https://twitter.com/KaiseiYokoyama') Twitter
      .card-content.right.hide-on-small-only
        ul.links.collection
          li.collection-item
            a(href='https://github.com/KaiseiYokoyama')
              i.fab.fa-github
          li.collection-item
            a(href='https://twitter.com/KaiseiYokoyama')
              i.fab.fa-twitter
  h4#interests-header
    i.material-icons domain
    |  興味のあること
  ul#interests.collection
    li.collection-item Human-Computer Interaction
    li.collection-item GUI Application
    li.collection-item Web Application
    li.collection-item Rustlang
    li.collection-item Game (Fortnite / APEX Legends / Mahjong)
    li.collection-item Black Tea (Earl Grey)
    li.collection-item Japanese Rice Wine
  h4#products-header
    i.material-icons widgets
    |  プロダクト
  #products.row
    .col.m12.l6
      .card
        .card-image
          img(src='https://raw.githubusercontent.com/KaiseiYokoyama/joycon-rs/master/images/joycon-rs.png')
          span.card-title
            strong Joycon-rs
          a.btn-floating.halfway-fab.waves-effect.waves-light.btn-large.blue.lighten-3(href='https://github.com/KaiseiYokoyama/joycon-rs')
            i.fab.fa-git-alt
        .card-content
          .tags
            span.chip Rust
            span.chip Joy-Con
            span.chip HID
          .badges
            a(href='https://crates.io/crates/joycon-rs')
              img(src='https://img.shields.io/crates/d/joycon_rs?style=flat-square&logo=rust')
            a(href='https://crates.io/crates/joycon-rs')
              img(src='https://img.shields.io/crates/v/joycon_rs?style=flat-square&logo=rust')
          p.description Rust言語でNintendo SwitchのJoy-ConおよびPro Controllerを扱うためのライブラリです. 
    .col.m12.l6
      .card
        .card-image
          img(src='https://user-images.githubusercontent.com/8509057/65156816-addf6c80-da6a-11e9-8d16-74ef4a47a90e.png')
          span.card-title
            strong repub
          a.btn-floating.halfway-fab.waves-effect.waves-light.btn-large.blue.lighten-3(href='https://github.com/KaiseiYokoyama/repub_cli')
            i.fab.fa-git-alt
        .card-content
          .tags
            span.chip Rust
            span.chip e-Books
            span.chip EPUB
          .badges
            a(href='https://crates.io/crates/repub')
              img(src='https://img.shields.io/crates/d/repub?logo=rust&style=flat-square')
            a(href='https://crates.io/crates/repub')
              img(src='https://img.shields.io/crates/v/repub?logo=rust&style=flat-square')
          p.description Markdown形式の文書を電子書籍（EPUB）に変換します. CSSを用いたスタイリングや目次の生成も可能です. 
    .col.m12.l6
      .card
        .card-image
          img(src='https://user-images.githubusercontent.com/8509057/82355589-62d48980-9a3d-11ea-8896-c72f5174158f.png')
          span.card-title
            strong IIIF Archive Depot
          a.btn-floating.halfway-fab.waves-effect.waves-light.btn-large.blue.lighten-3(href='https://github.com/KaiseiYokoyama/iiif-manga-viewer-frontend')
            i.fab.fa-git-alt
        .card-content
          .tags
            .chip Web Components
            .chip Web Assembly
            .chip Material Design
            .chip COJT
          .awards
            .award
              i.material-icons emoji_events
              div
                strong COJT 2019 春学期 最優秀賞
            .award
              i.material-icons web
              div
                a(href='https://iiif-archive-depot.herokuapp.com/')
                  strong IIIF Archive Depot
            .award
              i.material-icons movie
              div
                a(href='https://youtu.be/gEBGIPR-9dM?t=1213')
                  strong Youtube
          .description
            p IIIF規格に沿って公開されている世界各地の博物館・図書館などの画像資料を閲覧できる, デジタルアーカイブ用の画像ビューア.
            p 複数の既存のビューアの長所を集約し, 更に独自の検索機能を追加しています.
            p
              strong フロントエンドの実装を担当. 
  h4#works-header
    i.material-icons school
    |  研究
  #works.row
    .col.m12.l12
      .card
        .card-image
          img(src='images/joyflick.jpg')
        .card-stacked
          .card-content
            span.card-title
              strong JoyFlick
            .tags
              .chip かな文字入力
              .chip フリック入力
              .chip ゲームパッド
          .card-action
            a(href='https://www.wiss.org/WISS2020Proceedings/data/17.mp4').waves-effect.waves-light.btn-flat
              i.material-icons.left movie
              | 操作例デモムービー
            a(href='/works/joyflick.html').waves-effect.waves-light.btn.right
              i.material-icons.left apps
              | デモ用アプリケーション
  h4#papers-header
    i.material-icons description
    |  論文
  #papers
    h5#papers-reviewed-domestic-conf-header 査読あり/国内会議
    #papers-reviewed-domestic-conf
      ul.collapsible.expandable
        li
          .collapsible-header
            .title JoyFlick: フリック入力に基づくゲームパッド向けかな文字入力手法
            .authors
              .author.me 横山海青
              .author 
                a(href='https://www.iplab.cs.tsukuba.ac.jp/~takakura/') 髙倉礼
              .author
                a(href='https://www.iplab.cs.tsukuba.ac.jp/~shizuki/') 志築文太郎
            .tags
              .chip WISS2020 ショート再録
                a(href='https://www.wiss.org/WISS2020Proceedings/data/17.pdf') （予稿PDF）
              .chip.rate 67.6
              .chip 登壇発表
                a(href='https://youtu.be/JDWQJcLl8ek?t=17706') （Youtube）
              .chip.date 
                time(datetime='2020-12-17') Dec. 2020
              .chip.pages 6
          .collapsible-body.row
            .col.s12
              ul.tabs
                li.tab.col.s6
                  a(href='#wiss2020-abstruct').active Abstruct
                li.tab.col.s6
                  a(href='#wiss2020-citation') Citation
            #wiss2020-abstruct.col.s12.abstruct
              p 本稿では，ハードウェアキーボードが接続されていない家庭用ゲーム機において，ゲームパッドを用いてかな文字を入力する手法であるJoyFlickを示す．JoyFlickは，スマートフォンのかな文字入力手法として利用率の高いフリック入力に基づくことにより，ユーザの学習コストを抑えている．9 名を参加者とした実験により，JoyFlick が限られた練習量において現在の家庭用ゲーム機に搭載されている手法と同程度の入力速度（36 CPM）に到達すること，またユーザのフリック入力の経験が JoyFlick の習熟に良い影響を与えることが分かった．
            #wiss2020-citation.col.s12.citation
              .title 平文
              p.citation-item 横山海青，髙倉礼，志築文太郎．JoyFlick: フリック入力に基づくゲームパッド向けかな文字入力手法．第28回インタラクティブシステムとソフトウェアに関するワークショップ（WISS2020），pp. 97–102，日本ソフトウェア科学会，2020年12月
              .title Bibtex
              pre.citation-item
                | @article{joyflick,
                |   author    = {{横山海青，\UTF{9AD9}倉礼，志築文太郎}},
                |   title     = {{JoyFlick: フリック入力に基づくゲームパッド向けかな文字入力手法}},
                |   journal   = {第28回インタラクティブシステムとソフトウェアに関するワークショップ},
                |   series    = {WISS2020},
                |   publisher = {日本ソフトウェア科学会},
                |   year      = {2020},
                |   month     = {12},
                |   pages     = {97--102},
                |   URL       = {https://www.wiss.org/WISS2020Proceedings/data/17.pdf},
                | }
              span.warning
                i.material-icons.red-text.left warning
                span.left 以下のコマンドをプリアンブルに書き足す必要があります．
                code.left \usepackage{otf}
    h5#papers-reviewed-domestic-journal-header 査読あり/国内論文誌
    #papers-reviewed-domestic-journal
      ul.collapsible.expandable
        li
          .collapsible-header
            .title フリック入力に基づく2本の押し込み機能付きジョイスティックを用いたテキスト入力手法
            .authors
              .author.me 横山海青
              .author 
                a(href='https://www.iplab.cs.tsukuba.ac.jp/~takakura/') 髙倉礼
              .author
                a(href='https://www.iplab.cs.tsukuba.ac.jp/~shizuki/') 志築文太郎
              .author
                a(href='https://sites.google.com/view/ikkakukawaguchi/home') 川口一画
            .tags
              .chip ヒューマンインタフェース学会
                //- a(href='') （論文PDF）
              //- .chip.rate 67.6
              .chip 原著論文
              .chip.date 
                time(datetime='2020-12-17') Nov. 2021
              .chip.pages 12
              .chip.red-text To Appear
    h5#papers-reviewed-international-header 査読あり/国際会議
    #papers-reviewed-international
      ul.collapsible.expandable
        li.coming-soon
          .collapsible-header
            .title JoyFlick: Japanese Text Entry Using Dual Joysticks for Flick Input Users
            .authors
              .author.me Kaisei Yokoyama
              .author 
                a(href='https://www.iplab.cs.tsukuba.ac.jp/~takakura/') Rei Takakura
              .author
                a(href='https://www.iplab.cs.tsukuba.ac.jp/~shizuki/') Buntarou Shizuki
            .tags
              .chip
                a(href="https://www.interact2021.org/") INTERACT2021 
                | Full Paper Track / Springer LNCS series
                a(href='https://doi.org/10.1007/978-3-030-85613-7_8') （PDF）
              .chip.rate 29
              .chip 登壇発表
              .chip.date 
                time(datetime='2021-9-30') Sep. 2021
              .chip.pages 18
          .collapsible-body.row
            .col.s12
              ul.tabs
                li.tab.col.s6
                  a(href='#interact2021-abstruct').active Abstruct
                li.tab.col.s6
                  a(href='#interact2021-citation') Citation
            #interact2021-abstruct.col.s12.abstruct
              p We show JoyFlick: A Japanese text entry method on game consoles with dual joysticks for flick-input users. To reduce the learning cost, the procedure of JoyFlick is designed based on a flick-input, which is a Japanese text entry method that approximately 80% of young Japanese people use daily on smartphones. The user using JoyFlick is able to enter a Japanese basic phonetic character with two joystick operations. In addition, JoyFlick’s widgets spend a little amount of real estate on a screen, making it easy for developers to allocate space for other content. We conducted user studies that compared the performance of JoyFlick with a Kana syllabary keyboard, the de-facto standard for the Japanese text entry method on game consoles. The results showed the followings: (1) after training employing 28 phrases (289 characters, mean entry time = 373s), the flick-input users using JoyFlick can enter texts faster than using the Kana syllabary keyboard; (2) the flick-input users can enter text using JoyFlick 1.53-fold faster (60.1 CPM) than the Kana syllabary keyboard (39.2 CPM) after one-week training in which the users enter texts less than 140 (M=135) characters per day. These results show that JoyFlick provides a fast and easy Japanese text entry method to the flick-input users using the game controllers and yet spends a little amount of real estate on a screen.
            #interact2021-citation.col.s12.citation
              .title 平文
              p.citation-item Yokoyama K., Takakura R., Shizuki B. (2021) JoyFlick: Japanese Text Entry Using Dual Joysticks for Flick Input Users. In: Ardito C. et al. (eds) Human-Computer Interaction – INTERACT 2021. INTERACT 2021. Lecture Notes in Computer Science, vol 12934. Springer, Cham. https://doi.org/10.1007/978-3-030-85613-7_8
              .title Bibtex
              pre.citation-item
                | @InProceedings{10.1007/978-3-030-85613-7_8,
                |   author="Yokoyama, Kaisei
                |   and Takakura, Rei
                |   and Shizuki, Buntarou",
                |   editor="Ardito, Carmelo
                |   and Lanzilotti, Rosa
                |   and Malizia, Alessio
                |   and Petrie, Helen
                |   and Piccinno, Antonio
                |   and Desolda, Giuseppe
                |   and Inkpen, Kori",
                |   title="JoyFlick: Japanese Text Entry Using Dual Joysticks for Flick Input Users",
                |   booktitle="Human-Computer Interaction -- INTERACT 2021",
                |   year="2021",
                |   publisher="Springer International Publishing",
                |   address="Cham",
                |   pages="107--125",
                |   isbn="978-3-030-85613-7"
                | }
  h4#awards-header
    i.material-icons emoji_events
    |  受賞歴
  ul#awards.collection.with-header
    li.collection-header 
      h5 2021
    li.collection-item 3月: 筑波大学情報学群 
      a(href="https://www.coins.tsukuba.ac.jp/award/") 情報学群長表彰
    li.collection-header
      h5 2019
    li.collection-item 8月: 筑波大学COJT 春学期 最優秀賞 / IIIFに勝手に貢献する会 （
      a(href="/images/awards/cojt_software_2019_spring.pdf") 最優秀賞証明書
      | ）
    li.collection-item
      | 9月:
      a(href='https://www.konicaminolta.com/jp-ja/recruit/internship/archives/20190919.html')
        | Konika Minolta
        | Hackathon 審査員特別賞 / Hobbies
  h4#job-history-header
    i.material-icons history_edu
    |  経歴
  ul#job-history.collection
    li.collection-item 2017年3月: 
      a(href="http://www.rokkogakuin.ed.jp/public_html/") 六甲中学校・高等学校
      |  卒業
      span.badge.white-text.blue 学歴
    li.collection-item 2017年4月: 
      a(href="https://www.coins.tsukuba.ac.jp/") 筑波大学 情報学群 情報科学類
      |  入学
      span.badge.white-text.blue 学歴
    li.collection-item 2020年1月-12月: コニカミノルタ PoC開発（個人・準委任契約）
      span.badge.white-text.teal 職歴
    li.collection-item 2020年3月: enpit 修了
      span.badge.white-text.blue 学歴
    li.collection-item 2021年3月: 
      a(href="https://www.coins.tsukuba.ac.jp/") 筑波大学 情報学群 情報科学類
      |  卒業（
      a(href="https://www.coins.tsukuba.ac.jp/award/") 情報学群長表彰
      | ）
      span.badge.white-text.blue 学歴
    li.collection-item 2021年4月: 
      a(href="https://www.cs.tsukuba.ac.jp/") 筑波大学 大学院 情報理工学位プログラム
      |  入学
      span.badge.white-text.blue 学歴
  h4#skills-header
    i.material-icons build
    |  スキル
  #skills
    h5 比較的得意
    .row.skills
      .col.s12.m4
        a(href='https://www.rust-lang.org/ja')
          .card.hoverable
            .card-image
              img(src='https://raw.githubusercontent.com/rust-lang/rust-artwork/8ac7d25ad1f842ff5daa6786e6d4bd03ad3237b8/logo/rust-logo-blk.svg', alt='rustlang')
              span.card-title Rustlang
    h5 よく使う / 現在習得中
    .row.skills
      .col.s12.m4
        a(href='https://rocket.rs/')
          .card.hoverable
            .card-image
              img(src='https://rocket.rs/v0.4/images/logo-boxed.png', alt='rocket')
              span.card-title Rocket (Web Framework)
      .col.s12.m4
        a(href='https://github.com/hecrj/iced')
          .card.hoverable
            .card-image
              img(src='https://raw.githubusercontent.com/rust-lang/rust-artwork/8ac7d25ad1f842ff5daa6786e6d4bd03ad3237b8/logo/rust-logo-blk.svg', alt='rustlang')
              span.card-title Iced (GUI library)
      .col.s12.m4
        a(href='https://github.com')
          .card.hoverable
            .card-image
              img(src='images/github.svg', alt='github')
              span.card-title Github
    h5 たまに使う
    .row.skills
      .col.s12.m4
        a(href='https://developer.mozilla.org/ja/docs/Web/Web_Components')
          .card.hoverable
            .card-image
              img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/480px-Unofficial_JavaScript_logo_2.svg.png', alt='javascript')
              span.card-title Web Components
      .col.s12.m4
        a(href='https://rustwasm.github.io/docs/book/')
          .card.hoverable
            .card-image
              img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/WebAssembly_Logo.svg/1200px-WebAssembly_Logo.svg.png', alt='rustwasm')
              span.card-title Web Assembly with Rust
