@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
* {
  font-family: 'Noto Sans JP', sans-serif;
}

.card > .card-image > .card-title {
  background: rgba(0, 0, 0, 0.6);
}

svg {
  fill: currentColor;
}

object {
  fill: currentColor;
}

main > .container > h4 {
  margin-block-start: 2.6em;
}

.btn-floating.btn-floating-long {
  width: auto;
}

.btn-floating.btn-floating-long.btn-large {
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 28px;
  display: flex;
}

.btn-floating.btn-floating-long.btn-large > .title {
  font-size: 1.6rem;
  height: 56pt;
}

.btn {
  background-color: #90CBF9;
  font-weight: 600;
}

.btn:hover {
  background-color: #90CBF9;
  filter: brightness(105%) opacity(0.8);
}

.btn-flat {
  color: #039be5 !important;
}

.btn-flat:hover {
  background-color: rgba(3, 155, 229, 0.3);
}
