@charset "UTF-8";
body {
  width: 100vw;
  height: 100vh;
  display: flex;
}

@media only screen and (max-width: 992px) {
  header {
    width: 0vw;
  }
  main {
    width: 100vw;
  }
}

@media only screen and (min-width: 992px) {
  header {
    width: 25vw;
  }
  main {
    width: 75vw;
  }
}

header {
  display: flex;
  align-items: center;
  justify-items: center;
  background: #90caf9;
}

header #index.collection {
  border: none;
}

header #index.collection a {
  color: rgba(0, 0, 0, 0.87);
  opacity: 0.8;
}

@keyframes focus_index {
  to {
    font-weight: bolder;
    opacity: 1.0;
  }
}

header #index.collection a:hover {
  animation: focus_index 0.3s ease 0s forwards;
}

header #index.collection .secondary-content {
  color: black;
}

header #index.collection > * {
  border: none;
  background: inherit;
}

main {
  overflow-y: scroll;
}

main #profile {
  max-width: 620px;
}

main #profile .card-stacked {
  display: flex;
  flex-direction: row;
}

main #profile .card-stacked .left {
  flex: 90%;
}

main #profile .card-stacked .left > .card-action {
  padding-bottom: 0;
}

main #profile .card-stacked .left > .card-action a {
  color: #039be5;
}

main #profile .card-stacked .right {
  flex: 10%;
  background-color: #90caf9;
  display: flex;
  justify-content: center;
}

main #profile .card-stacked .right i.fab.fa-github, main #profile .card-stacked .right i.fab.fa-twitter {
  margin: 0;
  font-size: 36px;
}

@media only screen and (max-width: 992px) {
  main #profile.card {
    border-right: none;
  }
}

main #profile .card-content {
  display: flex;
  flex-direction: column;
}

main #profile .card-content .profile {
  display: flex;
  justify-items: center;
}

main #profile .card-content .profile #face {
  height: 110px;
  object-fit: scale-down;
  margin: 20px;
}

main #profile .card-content .profile #name {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main #profile .card-content .profile #name > h4 {
  margin-top: 0rem;
  margin-bottom: 0.456rem;
}

main #profile .card-content .profile #name .alphabet {
  color: #039be5;
  font-size: 1.64rem;
}

@media only screen and (max-width: 992px) {
  main #profile .card-content .profile {
    flex-direction: column;
  }
  main #profile .card-content .profile #face {
    width: 88%;
  }
}

main #profile .card-content #affiliations.collection .collection-item {
  padding-bottom: 5px;
}

main #profile .card-content #affiliations.collection .collection-item:before {
  color: #039be5;
  font-weight: 900;
  content: '- ';
}

main #profile .card-content #affiliations.collection a[href] {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  opacity: 0.8;
}

@keyframes focus {
  100% {
    color: #039be5;
    opacity: 1.0;
  }
}

main #profile .card-content #affiliations.collection a[href]:hover {
  animation: focus 0.3s ease 0s forwards;
}

main #profile .card-content ul.links.collection {
  background: none;
  border: none;
}

main #profile .card-content ul.links.collection li.collection-item {
  background: none;
  border: none;
  padding-left: 0;
  padding-right: 0;
}

main #profile .card-content ul.links.collection i {
  margin-right: 10px;
  color: white;
}

main #profile .card-content ul.links.collection a {
  font-size: 18px;
  color: white;
}

@media only screen and (max-width: 600px) {
  main #profile .card-content .links {
    padding-left: 0px;
  }
}

main #affiliations.collection, main #interests.collection, main #awards.collection, main #history.collection {
  border: none;
}

main #affiliations.collection > *, main #interests.collection > *, main #awards.collection > *, main #history.collection > * {
  border: none;
  background-color: inherit;
}

main #products ul.collapsible li .collapsible-header, main #works ul.collapsible li .collapsible-header, main #papers ul.collapsible li .collapsible-header {
  flex-direction: column;
}

main #products ul.collapsible li .collapsible-header .title, main #works ul.collapsible li .collapsible-header .title, main #papers ul.collapsible li .collapsible-header .title {
  font-size: 130%;
  font-weight: 600;
  margin-bottom: 5px;
}

main #products ul.collapsible li .collapsible-header .authors, main #works ul.collapsible li .collapsible-header .authors, main #papers ul.collapsible li .collapsible-header .authors {
  display: flex;
}

main #products ul.collapsible li .collapsible-header .authors > .author.me, main #works ul.collapsible li .collapsible-header .authors > .author.me, main #papers ul.collapsible li .collapsible-header .authors > .author.me {
  font-weight: 800;
}

main #products ul.collapsible li .collapsible-header .authors > .author:not(:first-child)::before, main #works ul.collapsible li .collapsible-header .authors > .author:not(:first-child)::before, main #papers ul.collapsible li .collapsible-header .authors > .author:not(:first-child)::before {
  content: '，';
}

@media only screen and (max-width: 992px) {
  main #products ul.collapsible li .collapsible-header .authors, main #works ul.collapsible li .collapsible-header .authors, main #papers ul.collapsible li .collapsible-header .authors {
    justify-content: space-between;
  }
  main #products ul.collapsible li .collapsible-header .authors > .author:not(:first-child)::before, main #works ul.collapsible li .collapsible-header .authors > .author:not(:first-child)::before, main #papers ul.collapsible li .collapsible-header .authors > .author:not(:first-child)::before {
    content: '';
  }
}

main #products ul.collapsible li .collapsible-header .tags > .chip, main #works ul.collapsible li .collapsible-header .tags > .chip, main #papers ul.collapsible li .collapsible-header .tags > .chip {
  height: auto;
  background-color: inherit;
  padding: 0;
}

main #products ul.collapsible li .collapsible-header .tags > .chip.pages::after, main #works ul.collapsible li .collapsible-header .tags > .chip.pages::after, main #papers ul.collapsible li .collapsible-header .tags > .chip.pages::after {
  content: 'pages';
}

main #products ul.collapsible li .collapsible-header .tags > .chip.rate, main #works ul.collapsible li .collapsible-header .tags > .chip.rate, main #papers ul.collapsible li .collapsible-header .tags > .chip.rate {
  font-weight: 900;
}

main #products ul.collapsible li .collapsible-header .tags > .chip.rate::before, main #works ul.collapsible li .collapsible-header .tags > .chip.rate::before, main #papers ul.collapsible li .collapsible-header .tags > .chip.rate::before {
  content: '採択率';
}

main #products ul.collapsible li .collapsible-header .tags > .chip.rate::after, main #works ul.collapsible li .collapsible-header .tags > .chip.rate::after, main #papers ul.collapsible li .collapsible-header .tags > .chip.rate::after {
  content: '%';
}

@media only screen and (max-width: 992px) {
  main #products ul.collapsible li .collapsible-body, main #works ul.collapsible li .collapsible-body, main #papers ul.collapsible li .collapsible-body {
    padding: 0.5rem;
  }
}

main #products ul.collapsible li .collapsible-body > .citation .title, main #works ul.collapsible li .collapsible-body > .citation .title, main #papers ul.collapsible li .collapsible-body > .citation .title {
  font-weight: 600;
  font-size: 120%;
}

main #products ul.collapsible li .collapsible-body > .citation > :not(.title), main #works ul.collapsible li .collapsible-body > .citation > :not(.title), main #papers ul.collapsible li .collapsible-body > .citation > :not(.title) {
  margin-left: 20px;
}

main #products ul.collapsible li .collapsible-body > .citation .citation-item, main #works ul.collapsible li .collapsible-body > .citation .citation-item, main #papers ul.collapsible li .collapsible-body > .citation .citation-item {
  padding: 5px;
  background-color: rgba(158, 158, 158, 0.2);
}

main #products ul.collapsible li .collapsible-body > .citation pre.citation-item, main #works ul.collapsible li .collapsible-body > .citation pre.citation-item, main #papers ul.collapsible li .collapsible-body > .citation pre.citation-item {
  white-space: pre-wrap;
}

main #products ul.collapsible li .collapsible-body > .citation .warning > i.material-icons.left, main #works ul.collapsible li .collapsible-body > .citation .warning > i.material-icons.left, main #papers ul.collapsible li .collapsible-body > .citation .warning > i.material-icons.left {
  padding-left: 20px;
}

main #products .card .card-content > *, main #works .card .card-content > *, main #papers .card .card-content > * {
  margin-bottom: 10px;
}

main #products .card .card-content .tags > .chip, main #works .card .card-content .tags > .chip, main #papers .card .card-content .tags > .chip {
  height: auto;
  background-color: inherit;
  padding: 0 5px;
  margin: 0;
}

main #products .card .card-content .tags > .chip:not(:last-child)::after, main #works .card .card-content .tags > .chip:not(:last-child)::after, main #papers .card .card-content .tags > .chip:not(:last-child)::after {
  content: ', ';
}

main #products .card .card-content .awards > .award, main #works .card .card-content .awards > .award, main #papers .card .card-content .awards > .award {
  display: flex;
}

main #products .card .card-content .awards > .award > *:not(:first-child), main #works .card .card-content .awards > .award > *:not(:first-child), main #papers .card .card-content .awards > .award > *:not(:first-child) {
  margin-left: 3px;
}

main #papers h5 {
  margin-top: max(1.09333rem, 28px);
}

main #papers .card {
  box-shadow: none;
}

main #papers .card .tags .chip.pdf .button > i.material-icons.left, main #papers .card .tags .chip.pdf button > i.material-icons.left {
  margin-right: 0;
}

main #papers .card .card-content > .description {
  margin-top: 30px;
}

main #papers .card .card-content > .description::before {
  content: "Abstruct";
  font-weight: 900;
  font-size: 140%;
}

main #history table.intern-detail {
  margin-left: 20px;
}

main #history table.intern-detail td:first-child {
  color: rgba(0, 0, 0, 0.8);
}

main #history table.intern-detail * {
  border: none;
}
